{namespace importstudip=UniPassau\Importstudip\ViewHelpers}
<f:form action="searchcourse" method="post">
    <label>
        <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.label.searchterm"/>
        <br/>
        <f:form.textfield name="searchterm" size="75" maxlength="255"
            value="{searchterm}" required="1" autofocus="1"
            placeholder="{f:translate(key: 'LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.searchterm_placeholder')}"/>
    </label>
    <label>
        <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.label.semester"/>
        <br/>
        <f:form.select name="semester" value="{semester}"
            options="{semesters}"
            prependOptionLabel="{f:translate(key: 'LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.label.all')}"/>
    </label>
    <label>
        <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.label.institute"/>
        <br/>
        <importstudip:InstituteSelect name="institute" options="{institutes}" value="{institute}"/>
    </label>
    <br/>
    <label>
        <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.label.coursetype"/>
        <br/>
        <importstudip:CourseTypeSelect name="coursetype" value="{coursetype}"
            options="{coursetypes}"
            prependOptionLabel="{f:translate(key: 'LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.label.all')}"/>
    </label>
    <br/><br/>
    <f:form.submit value="{f:translate(key: 'LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.label.perform_search')}"/>
</f:form>