<f:render partial="SearchForm" arguments="{_all}"/>
<f:if condition="{nosearchterm} == 1">
    <f:then>
        <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.text.no_search_term"/>
    </f:then>
    <f:else>
        <f:if condition="{numresults} > 0">
            <f:then>
                <table width="100%">
                    <caption>
                <f:if condition="{numresults} == 1">
                    <f:then>
                        <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.text.one_search_result"/>
                    </f:then>
                    <f:else>
                        <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.text.num_search_results"
                             arguments="{0: numresults}"/>
                    </f:else>
                </f:if>
                    </caption>
                    <thead>
                        <tr>
                            <th width="80%">Name</th>
                            <th width="20%">Dozierende</th>
                        </tr>
                    </thead>
                    <tbody>
                    <f:for each="{searchresults}" as="entry">
                        <tr>
                            <td valign="top">
                                <b>
                                    <a href="{studip_url}dispatch.php/course/details/?sem_id={entry.id}" target="_blank">
                                <f:if condition="{entry.number} != ''">
                                        {entry.number}
                                </f:if>
                                {entry.name}
                                    </a>
                                </b>
                                <br/>
                                <f:if condition="{entry.subtitle} != ''">
                                    <i>{entry.subtitle}</i>
                                    <br/>
                                </f:if>
                                {entry.type}
                            </td>
                            <td valign="top">
                                <f:for each="{entry.lecturers}" as="l" iteration="it">
                                    {l.lastname}, {l.firstname}
                                    <f:if condition="it.isLast == false">
                                    <br/>
                                    </f:if>
                                </f:for>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <f:translate key="LLL:EXT:importstudip/Resources/Private/Language/locallang.xlf:frontend.text.no_search_results"/>
            </f:else>
        </f:if>
    </f:else>
</f:if>
