ul.tx-importstudip-tree li:first-child {
    margin-top: 0px;
}

ul.tx-import-studip input[type=radio] {
    width: 10px;
    height: 10px;
}

ul.tx-importstudip-tree li:last-child {
    margin-bottom: 0px;
}

li.tx-importstudip-treebranch {
    list-style-type: none;
    margin-top: -22px;
    margin-bottom: -22px;
}

li.tx-importstudip-treebranch input.tx-importstudip-treeinput {
    opacity: 0;
}

li.tx-importstudip-treebranch input.tx-importstudip-treeinput + ul {
    margin-top: -5px;
    margin-bottom; -8px;
}

li.tx-importstudip-treebranch input.tx-importstudip-treeinput + ul > li {
    display: none;
    cursor: pointer;
}

li.tx-importstudip-treebranch input.tx-importstudip-treeinput:checked + ul > li {
    display: block;
    background-image: url('../../../../../../typo3/gfx/ol/join.gif');
    background-repeat: no-repeat;
    margin-left: -20px;
    padding-left: 20px;
}

li.tx-importstudip-treebranch input.tx-importstudip-treeinput:checked + ul > li:last-child {
    background-image: url('../../../../../../typo3/gfx/ol/joinbottom.gif');
    background-repeat: no-repeat;
}

li.tx-importstudip-treeleaf {
    list-style-type: none;
    margin-top: -9px;
    margin-bottom: -9px;
}

li.tx-importstudip-treeleaf + li.tx-importstudip-treebranch {
    margin-top: -8px;
}

li.tx-importstudip-treebranch input[type=radio], li.tx-importstudip-treeleaf input[type=radio] {
    margin-top: 5px;
}

img.tx-importstudip-openclose {
    vertical-align: middle;
}

.tx-importstudip-entrygroup {
    background-color: rgba(0,0,0,0.10);
}

.tx-importstudip-entrygroup > .t3-form-field-label {
    cursor: pointer;
    padding-left: 15px;
}
